@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 40px 80px;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 40vw;
    min-width: 200px;
}

.app * {
    margin-top: 5px;
}

.app button {
    width: 30%;
    margin: 15px auto;
}
